# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production
/build

# EditorConfig
.editorconfig

# Node diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variables
.env
.env.test

# Linter cache
.eslintcache

# Gatsby files
.cache/

# Linux 
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Notepad++ backups #
*.bak

# Temp
temp/

# TypeScript cache
*.tsbuildinfo

# Vim
Session.vim
Sessionx.vim

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Windows 
*.lnk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp